<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>cha</title>
        <meta name="description" content="">
        <meta name="author" content="Aicha Diakite">

        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    </head>

    <body>
        <div>
            <header>
                <h1>TP Super Chat</h1>
            </header>

            <div class="connect">
                <p>Choisissez un pseudo : <input type="text" id="username"/></p>
                <p>Choisissez une couleur : <input type="color" id="color"/></p>                
            </div>
            
            <div class="chatBloc">
                <div class="form">
                    <input type="text" id="msg"/>
                    <button id="send">Envoyer</button>
                </div>
                <div id="msgBloc">
                    <p id="msgModel" style="display: block">
                        <span class="name"></span>
                        <span></span>
                    </p>
                </div>
            </div>
            <script src="js/jquery-1.9.1.min.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script>
                var socket = io.connect('http://localhost:8080');
                //Les evenements client
                
            </script>
        </div>
    </body>
</html>
