<!DOCTYPE html>
<html lang="en">
    <head>
        <title>todo</title>
    </head>

    <body>
        <div>
            <header>
                <h1>Ma todolist</h1>
            </header>
            <div>
                <ul class="liste">

                </ul>
                <p>
                    Que dois-je faire ?
                    <input type="text" id="todoval" />
                    <button id="todosubmit">
                        Valider
                    </button>
                </p>
            </div>
        </div>
    </body>
</html>
